<a href="https://colab.research.google.com/github/bvinaykumarmtech/Machine-Learning/blob/main/Python_Basics(23_02_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python Basics

In [5]:
a = 10
b = 20
while a<=b: # 10<=20, 11<=20, 12<=20,.....20<=20, 21<=20
  print(a) # 10, 11, 12... 20
  a=a+1 # 11, 12,... 21
print("After While")

10
11
12
13
14
15
16
17
18
19
20
After While

In [13]:
for i in range(10, 0, -1):
  print(i, end = ' ')
  print('$', end = '')

10 $9 $8 $7 $6 $5 $4 $3 $2 $1 $

In [15]:
# List in Python
# List is a collection of Heterogenous Elements
# List is Mutable
# List supports indexing, Slicing
# List supports few built-in functions like sum(), min(), max(), len() etc
# Syntax: L = list()

In [17]:
# How to Create an Empty List Object
L = list()
print(L)

[]

In [18]:
# How to create a List with some elements
L = [1, 2, 3, 4, 5]
print(L)

[1, 2, 3, 4, 5]

In [20]:
for i in L:
  print(i, end = ' ')

1 2 3 4 5

In [22]:
# Length of List
print("Length of the List is:  ", len(L))

Length of the List is:   5

In [24]:
# Find sum of List
print("Sum of List is:  ", sum(L))

Sum of List is:   15

In [29]:
# Finding the minimum of List
print("Minimum is:  ", min(L))

Minimum is:   1

In [28]:
# Maximum in the list
print("Maximum is:  ", max(L))

Maximum is:   5

In [36]:
# Creating List with Different types of Objects
L1 = [1, 1.2, "abc", [1,2,3], (2+3j)]
print(L1)

[1, 1.2, 'abc', [1, 2, 3], (2+3j)]

In [37]:
# Displaying List Elements one after the other
for i in L1:
  print(i)

1
1.2
abc
[1, 2, 3]
(2+3j)

In [38]:
for i in range(len(L1)):
  print(L1[i])

1
1.2
abc
[1, 2, 3]
(2+3j)

In [39]:
L

[1, 2, 3, 4, 5]

In [40]:
print(L[-1])

5

In [41]:
print(L[4])

5

In [43]:
# Perform summation on List Elements with out using built-in functions
L2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
SUM = 0
for i in L2:
  SUM = SUM + i
print("The Sum of List is: ", SUM)

The Sum of List is:  55

In [45]:
print("The Sum of List is: ", sum(L2))

The Sum of List is:  55

In [47]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [52]:
# Demo on append()
L = []
print(L)
L.append(1)
L.append("Paul")
L.append(1.23)
L.append([1, 2, 3])
print(L)

[]
[1, 'Paul', 1.23, [1, 2, 3]]

In [60]:
# Accessing using indexing
print(L[1][2])
print(L[3][-1])

u
3

In [61]:
# Accessing a group of elements of list (slicing)
L = [1, 2, 3, 4, 5, 6, 7]
print(L[2:5])

[3, 4, 5]

In [62]:
print(help(L.append))

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

None

In [69]:
# Count method
L = [1, 2, 3, 4, 1, 2, 1, 2]
print(L.count(1))

3

In [88]:
# Demo on pop() - it takes index as argument (by default index is -1)
L = [1, 2, 3, 4, 1, 2, 1, 2]
print(L)
print(L.pop(-2))
print(L)

[1, 2, 3, 4, 1, 2, 1, 2]
1
[1, 2, 3, 4, 1, 2, 2]

In [75]:
# Demo on extend()
L = [1, 2, 3]
print(L)
L.extend("ABC")
L.extend([4,5,6])
print(L)

[1, 2, 3]
[1, 2, 3, 'A', 'B', 'C', 4, 5, 6]

In [79]:
# Demo on sort()
L = [3, 6, 2, 1, -5, -34]
L.sort()
print(L)

[-34, -5, 1, 2, 3, 6]

In [80]:
# Demo on reverse()
L.reverse()
print(L)

[6, 3, 2, 1, -5, -34]

In [85]:
# Demo on insert()
L = [1, 2, 4, 5]
print(L)
L.insert(2, 3)
print(L)
L.insert(20, 6)
print(L)

[1, 2, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [86]:
# Demo on remove() - it takes element as argument
L = [1, 2, 3, 4, 5]
print(L)
L.remove(1)
print(L)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [90]:
# Demo on copy()
L = [1, 2, 3, 4, 5]
print(L)
M = L.copy()
print(M)
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [92]:
# Demo on clear()
print(M)
M.clear()
print(M)

[1, 2, 3, 4, 5]
[]

In [93]:
print(L)

[1, 2, 3, 4, 5]

In [97]:
# Sample demo on Assignment of List
L = [1, 2, 3, 4, 5]
M = L
print(L)
print(M)
L.append(7)
print(L)
print(M)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7]